.task-list-part{
    height:540px;
    background-color: #dcdcdc;
    border-radius: 20px;
    padding: 0 10px;
}

.task-list-part-title{
    text-align: center;
    font-size: 24px;
    color: #000000;
}

.scroll-area{
    padding: 2px 0;
    overflow: scroll;
    height: 420px;
}