.flex-box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: nowrap;
    margin: 0 20px;
  }
  
  

@media (max-width: 768px) {
    .flex-box {
        flex-wrap: wrap; /* 小さい画面でも横に並べる */
    }

}
  